<style>

        h1 {
        size: 65px;  
        color:orange;
        font-family: sans-serif;
        }

        ul {
        font-style: italic;
        line-height: 2;
        text-align: center;
        text-decoration: underline;
        }

        .classe-01{
        background-color:cyan;
        }

        p {
          font-weight:600;
          font-size: 3em;
        }

        body{
          font-size: 16px;
        }
        #amarelo{
          background-color: yellow;
        }
        #vermelho{
          background-color: red;
        }
        #marron{
          background-color: brown;
        }

    </style>
